<div class="top">
    <div class="top-main">
        <div class="container">
            <div class="form-flame">
                <div class="form-area">
                    <p>Potepan Shareでまだ体験したことのない旅をしよう</p>
                </div>
            </div>
        </div>
    </div>
</div>