body {
    margin: 0;
    position: relative;
    box-sizing: border-box;
    min-height: 100vh;
    padding-bottom: 100px;
    color: #333;
}

p {
    margin: 0;
    font-family: verdana, arial, helvetica, sans-serif;
}

header, footer {
    width: 100%;
    background-color: #000000;
    color: #fff;
    margin: 0;
}

header {
    height: 70px;
}

footer {
    font-size: 13px;
    position: absolute;
    bottom: 0;
    height: 90px;
    padding-top: 90px;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 4px 30px;
}

#error_explanation ul {
    margin: 0 0 24px 0;
    text-align: left;
    color: red;
    font-size: 14px;
}

.btn {
    color: #fff;
    display: inline-block;
    padding: 6px 12px;
}

 a {
     text-decoration: none;
     text-align: center;
     border-radius: .25rem;
     vertical-align: middle;
 }

 .left-nav {
     height: 100%;
 }

.right-nav {
    display: flex;
    height: 57px;
    padding-top: 3px;
}

.right-nav img {
    border-radius: 50px;
    width: 57px;
    height: 57px;
    object-fit: cover;
    box-sizing: border-box;
    margin-right: 1rem;
    margin-left: 1rem;
}

.right-nav p {
    padding-top: 18px;
}

.right-nav-login {
    background-color: #4a90e2;
    margin-right: 1rem;
}

.right-nav-registration {
    background-color: #6c757d;
    transition: 0.3s;
}

.right-nav-registration:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
    transition: 0.3s;
}

.devise-container {
    text-align: center;
    padding-top: 36px;
    margin: 0 auto;
}

.devise-container p {
    font-size: 16px;
    margin: 24px 0;
}

.devise-container a {
    color: #007bff;
}

.devise-inner {
    max-width: 600px;
    text-align: center;
    padding: 24px;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: rgb(21 27 38 / 15%) 0px 1px 3px 0px;
}

form {
    width: 360px;
    margin: 0 auto;
}

input {
    display: block;
    height: 24px;
    padding: 6px 8px;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-bottom: 10px;
}

.form-require::before {
    display: inline-block;
    content: "必須";
    color: #fff;
    background-color: #ff0000a8;
    border-radius: 5px;
    font-size: 12px;
    padding: 3px 4px;
    margin: 0 5px;
    width: 24px;
    margin-top: 6px;
}

.form-require {
    padding: 0 5px;
}

.field {
    display: flex;
}

input[type="submit"] {
    display: block;
    margin: 24px 0;
    background-color: #4a90e2;
    color: #fff;
    font-size: 16px;
    height: 38px;
    cursor: pointer;
    border-color: #007bff;
}

.field input:focus {
    outline: solid 3px #BAD3FF;
    border-color: #75A9FF;
    transition: 0.1s;
}

.field input {
    transition: 0.3s;
}

.top-main {
    background-image: url(https://presite-potepancamp-rails-02.herokuapp.com/assets/img_cover_top.jpg);
    background-size: cover;
    width: 100%;
    height: 650px;
}

.form-area {
    background-color: #fff;
}

.alert {
    padding: 10px 0;
    text-align: center;
    background-color: #FF6666;
    color: #fff;
    font-size: 14px;
}

.room-information img {
    width: 50%;

}

.room-detail-icon {
    width: 10%;
}

#header-nav-menu {
    background-color: #fff;
    border: 3px solid #F6F8F9;
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 15px;
    color: black;
}

#header-nav-menu li {
    list-style: none;
    font-size: 16px;
    padding: 3px 5px;
}

#header-nav-menu a {
    color: black;
}

#header-nav-menu a:hover {
    color: #35475a;
}

.hiddn {
    display: none;
}